.small__card{

  width: 100%;
  background-color: $blue;
  border-radius: $border-radius;
  transition: 0.3s;
  -webkit-box-shadow: -2px 11px 23px -18px #010100;
  box-shadow: -2px 11px 23px -18px #010100;
  height: 120px;
  cursor: pointer;

  &:hover, &:focus {
    transform: translate(0, -5px);

    .effect {
      transition: 0.5s ease-in;
      color: $red;
      text-decoration: none;
    }
  }

  &__image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: $border-radius 0 0 $border-radius ;
  }

  &__heading{
    font-weight: 600;
    line-height: $line-height-sm;
  }

  &__link{
    color: $black;
    font-size: $font-size-sm;
  }
}