.faq{

  &__subheading{
    font-weight: 300;
    color: $gray-700;;
  }

  &__heading{
    font-weight: 600;
    line-height: $line-height-sm;
  }

  &__paragraph{
    @include media-breakpoint-up(lg) {
      margin-right: 200px;
    }
  }
}


