.post{

  &__image{
    border-radius: $border-radius;
    -webkit-box-shadow: -2px 11px 23px -18px #010100;
    box-shadow: -2px 11px 23px -18px #010100;
    height: 250px;
    object-fit: cover;

    @include media-breakpoint-up(md) {
      height: 500px;
    }
  }

  &__avatar img{
    border-radius: 50%;
    height: 52px;
  }

  &__share__heading, &__other__heading{
    font-weight: 600;
    line-height: $line-height-sm;
  }

  &__btns{
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 48%;
    }
  }

  &__location{
    font-weight: 600;
    line-height: $line-height-sm;
  }
}